<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons end>
        <button ion-button menuToggle>
          <ion-icon name="menu" color="buttons"></ion-icon>
        </button>
      </ion-buttons>    
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <h5 margin-top>Select a Manufacturer</h5>
      <ion-item padding-right>
        <ion-label>Manufacturer</ion-label>
        <ion-select [(ngModel)]="manufacturer" (ionChange)="getModels()">
          <ion-option value="Honda">Honda</ion-option>
          <ion-option value="Volkswagen">Volkswagen</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>

    <ion-row>
      <h5 style="margin-top:60px">Select a Model</h5>
      <ion-item padding-right>
        <ion-label>Models</ion-label>
        <ion-select [(ngModel)]="modelSelected" (ionChange)="getTrims()">
          <ion-option *ngFor="let model of models">{{model}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>

    <ion-row>
      <h5 style="margin-top:60px">Select a Trim</h5>
      <ion-item padding-right>
        <ion-label>trims</ion-label>
        <ion-select [(ngModel)]="trimSelected">
          <ion-option *ngFor="let trim of trims">{{trim}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>
  </ion-grid> 
</ion-content>


<ion-footer *ngIf="manufacturer && modelSelected && trimSelected">
  <ion-buttons end>
      <button color="buttons" ion-button icon-end margin-right margin-bottom (click)="customizeVehicle()">
          Next
          <ion-icon name="arrow-forward"></ion-icon>
      </button>
  </ion-buttons>
</ion-footer>