<ion-menu [content]="nav" persistent="true" side="right" (ionOpen)="refresh()" (ionClose)="refresh()">
    <ion-header>
        <ion-toolbar>
            <ion-title style="text-transform: capitalize;" text-wrap>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item menuClose (click)="onHome()">
                <ion-icon name="home" color="primary" item-left></ion-icon>
                <b>Home</b>
            </button>
            <button ion-item menuClose (click)="onBookings()" *ngIf="access == 1">
                <ion-icon name="calendar" color="brwn" item-left></ion-icon>
                <b>Bookings</b>
            </button>
            <button ion-item menuClose (click)="onLogin()" *ngIf="!isLoggedIn">
                <ion-icon name="log-in" color="secondary" item-left></ion-icon>
                <b>Sign In</b>
            </button>
            <button ion-item menuClose (click)="onLogOut()" *ngIf="isLoggedIn">
                <ion-icon name="log-out" color="drkRed" item-left></ion-icon>
                <b>Sign Out</b>
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="homePage" #nav></ion-nav>
