<ion-header>
  <ion-navbar>
    <ion-title>
      Customization
    </ion-title>
    <ion-buttons end>
        <button ion-button menuToggle>
          <ion-icon name="menu" color="buttons"></ion-icon>
        </button>
      </ion-buttons>    
  </ion-navbar>
  </ion-header>

<ion-content padding>

  <ion-card>

    <ion-slides #sliderOne *ngIf="desktop">
      <ion-slide *ngFor="let color of extColors">
        <img class="dext" src='{{color.src}}'>
      </ion-slide>
    </ion-slides>

    <ion-slides #sliderTwo *ngIf="desktop">
      <ion-slide *ngFor="let color of intColors">
        <img class="dint" src='{{color.src}}'>
      </ion-slide>
    </ion-slides>


    <ion-slides #sliderOne *ngIf="!desktop">
      <ion-slide *ngFor="let color of extColors">
        <img src='{{color.src}}'>
      </ion-slide>
    </ion-slides>

    <ion-slides #sliderTwo *ngIf="!desktop">
      <ion-slide *ngFor="let color of intColors">
        <img class="iint" src='{{color.src}}'>
      </ion-slide>
    </ion-slides>
    
    <ion-card-title style="padding-left: 15px; margin-top: 20px;">
      {{model.name}}
    </ion-card-title>
    <p padding-left>{{trim.name}} - {{total | currency:'CAD':'1.0-0'}}</p>

    <ion-card-content style="text-align: justify;">     
      {{model.desc}}

      <ion-grid>
        <ion-row>
          <ion-item padding-right>
            <ion-label style="font-size:14px">Exterior Colours</ion-label>
            <ion-select [(ngModel)]="extClr" (ionChange)="exteriorChange(extClr)" style="font-size:14px">
              <ion-option *ngFor="let extClr of extColors" [value]="extClr">{{extClr.name}}</ion-option>
            </ion-select>
          </ion-item>          
        </ion-row>
    
        <ion-row>
          <ion-item padding-right>
            <ion-label style="font-size:14px">Interior Colors</ion-label>
            <ion-select [(ngModel)]="intClr" (ionChange)="interiorChange(intClr)" style="font-size:14px">
              <ion-option *ngFor="let intClr of intColors" [value]="intClr">{{intClr.name}}</ion-option>
            </ion-select>
          </ion-item>          
        </ion-row>
      </ion-grid>
    </ion-card-content>

    <button ion-button icon-left clear block icon-start *ngIf="extClr != undefined && intClr != undefined && total > 0" (click)="save()">
      <ion-icon name="folder-open"></ion-icon>
      Save
    </button>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-buttons end>
      <button ion-button icon-end margin-right margin-bottom color="buttons" (click)="goToDealerships()">
          Next
          <ion-icon name="arrow-forward"></ion-icon>
      </button>
  </ion-buttons>
</ion-footer>